<!--
  Generated template for the HomePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>
</ion-header>
<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="Destination" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div #map id="my-map"></div>
  <button ion-button full (click)="calculateAndDisplayRoute()">Get Direction</button>
</ion-content>